html, body, div, span, a, img, ins, dl, dt, dd, ol, ul, li, table, caption, tbody, tfoot, thead, tr, th, td, footer, header, menu, nav { margin: 0; padding: 0; border: 0; }

body{
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	background-color: #222;
}

header{
	top: 0px;
	height: 100%;
	float: left;
	position: fixed;
	margin-top: 20px;
}

main{
	padding: 5px;
	margin: 20px 50px 100px 140px;
	min-width: 600px;
	min-height: 200px;
}

footer{
	padding: 10px;
	text-align: center;
}

a { cursor: pointer; }
nav { width: 10em; }
nav img{ width: 1.6em; }

/* CLASSES AND OBJECTSES  */

#tableHiscores{
	width: 100%;
	margin: 0 auto;
	border: 2px solid #FFC;
	border-radius: 6px;
	border-spacing: 0;
	box-shadow: 0px 0px 5px #FFF;
}

#tableHiscores thead img{ height: 24px; } /* Skill Logo */
#tableHiscores tbody img{ height: 38px; } /* Avatars */

#tableHiscores td{
	font-size: 1.2em;
	text-align: center;
}

#tableHiscores th{
	padding: 4px 0;
	font-size: 1.2em;
	border-top: none;
	text-align: center;
	background-color: #FAFAFA;
}

#tableHiscores td a{
	color: #000;
	text-decoration: none;
}

#tableHiscores th:nth-child(2){
	text-align: left;
	padding-left: 1em;
}

#tableHiscores th:last-child{
	text-align: right;
	padding-right: 4.1em;
}

#tableHiscores td:first-child{
	font-size: 1.3em;
}

#tableHiscores td:nth-child(3){
	text-align: left;
}

#tableHiscores td:last-child{
	text-align: right;
	padding-right: 4em;
}

#tableHiscores tbody tr:nth-child(2n){ background-color: #E9E9E9; }
#tableHiscores tbody tr:nth-child(2n+1){ background-color: #E0E0E0; }
#tableHiscores tbody tr:hover{ background-color: #EBE8C9 !important; }


/* ########################################## */

.menu{
	font-size: 1.1em;
	text-align: center;
	position: relative;
	margin-bottom: 20px;
	background-color: #efefef;
	box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}
.menu:hover { background-color: #CCC; }
.menu a {
	z-index: 999;
	display: block; padding: 15px 22px;
	color: #757575; text-decoration: none;
}
.menu ul { /* submenu */
	max-height: 288px;
	overflow: auto;
	display: none;
	padding: 0px;
	z-index: 9999;
	border-radius: 0px 0px 5px 5px;
	background-color: #EEE;
}
	.menu li {
		float: none;
		font-size: 0.7em;
		text-align: left;
	}
		.menu li a {
			color: #333;
			padding: 8px 10px;
		}	
			.menu li a:hover { background-color: #EBE8C9; }
